
{% extends "./base.html" %}

{% load static %}

{% block title %}Store{% endblock%}

{% block content %}
<div class="container">
  <div class="row mt-2">
    <h6>{{ category.name | capfirst }}</h6>
    <hr>
  </div>
  <div class="row mt-2">
            {% for product in products %}
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header">
                <img class="card-img-top" src="{{ product.image.url }}">
              </div>
              <div class="card-body">
                <p class="card-text">
                  <a href="{{ product.get_absolute_url }}" class="text-info">{{ product.title | capfirst }}</a>
                </p>
                <p class="card-text">$ {{ product.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
  </div>
</div>
{% endblock %}